<!DOCTYPE html>

<html>
    {{> partials/scanner-head}}

    <body>
        <div class="header">
            <h3>Bin Count</h3>
        </div>

        <div class="view">
            <br />
            <form class="form" action="/scanner/bin-count" method="post">
                <p>Bin:</p>
                <input type="text" name="bin" autofocus>
            </form>
        </div>
    </body>
</html>