<!DOCTYPE html>

<html>
    {{> partials/scanner-head}}

    <body>
        <div class="header">
            <h3>Barcode Scanner</h3>
        </div>

        <div class="view">
            <div class="list">
                <a class="list-item" href="/scanner/bin-count">
                    <p>Bin Count</p>
                </a>

                <a class="list-item" href="/scanner/bin-inquiry">
                    <p>Bin Inquiry</p>
                </a>

                <a class="list-item" href="/scanner/bin-putaway">
                    <p>Bin Putaway</p>
                </a>

                <a class="list-item" href="">
                    <p>Bin Replenishment</p>
                </a>

                <a class="list-item" href="">
                    <p>Bin Transfer</p>
                </a>

                <a class="list-item" href="">
                    <p>Bin Transfer (Lot)</p>
                </a>

                <a class="list-item" href="">
                    <p>Inventory Transfer</p>
                </a>

                <a class="list-item" href="">
                    <p>Inventory Transfer (Multiple Items)</p>
                </a>

                <a class="list-item" href="">
                    <p>Item Look-Up</p>
                </a>

                <a class="list-item" href="">
                    <p>Purchase Order Receiving</p>
                </a>

                <a class="list-item" href="">
                    <p>Sales Order Pick/Pack/Ship</p>
                </a>

                <a class="list-item" href="">
                    <p>Sales Order Picking</p>
                </a>

                <a class="list-item" href="">
                    <p>Stock Count (Directed)</p>
                </a>

                <a class="list-item" href="">
                    <p>Transfer Order Picking (Scan Item)</p>
                </a>

                <a class="list-item" href="">
                    <p>Transfer Order Receiving (Scan Item)</p>
                </a>
            </div>
        </div>
    </body>
</html>